---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
        {% if post.categories contains "ESAC" %}
        {% comment %} ESAC posts are not shown on the OpenAPC blog, but they are still exported to the INTACT site {% endcomment %}
        {% else if %}
          <div class="post">
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
              <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
              <h3 class="h2 post-title">{{ post.title }}</h3>
              </a>
              <p class="post-summary">{{ post.excerpt }}</p>
          </div>
        {% endif %}
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
